{% include "header.html" %}


<div class="container">
  <div class="column">
<center>
<md-block>
# Your Screening option is: a Colonoscopy
</md-block>
</center>

<div style="margin-left:10%; margin-right:10%;">
<md-block>
A colonoscopy is a medical procedure where a doctor inserts a camera mounted on a colonoscope in order to monitor and find diseases.
With a colonoscopy, you **will** need to have someone drive you home, because you will have to be sedated for the procedure. You will also have to refrain from eating before the procedure and take a laxative before the procedure.
</md-block>
</div>

</div>
</div>
