{% include "header.html" %}

<div class="results-container">
  <div class="column results-content">
    <md-block>
      # Your screening option is: a Colonoscopy
    </md-block>
    <md-block>
      During a colonoscopy exam, a long, flexible tube (colonoscope) is inserted into the rectum. A tiny video camera at the tip of the tube allows the doctor to detect changes or abnormalities inside the entire colon.
      Colonoscopy takes about 30 to 60 minutes and screening is generally repeated every 10 years if no abnormalities are found and you don't have an increased risk of colon cancer.

      The pros:
       - Colonoscopy is one of the most sensitive tests currently available for colon cancer screening.
       - The doctor can view your entire colon and rectum.
       - Abnormal tissue, such as polyps, and tissue samples (biopsies) can be removed through the scope during the exam.

      The cons:
       - The exam might not detect all small polyps and cancers.
       - A thorough cleansing of the colon is required before the test.
       - Diet changes are needed before the test, and medications may need to be adjusted.
       - Sedation is almost always used, and it can take several hours to wear off.
       - Because of the sedation, you'll need someone to drive you home.
       - Rare complications may include bleeding from the site where a biopsy was taken or a polyp or other abnormal tissue was removed, or bleeding from a tear in the colon or rectum wall.
    </md-block>
  </div>
</div>

{% include 'footer.html' %}
