{% include "header.html" %}

<div class="results-container">
  <div class="column results-content">
    <md-block>
      # Your screening option is: a Fecal Occult Blood Test
    </md-block>
    <md-block>
      Fecal occult blood test (FOBT) and fecal immunochemical test (FIT) are lab tests used to check stool samples for hidden (occult) blood. The tests usually are repeated annually.

      The pros:
       - Stool sample collection can be done at home.
       - There's no need to empty the colon ahead of time.
       - There's no need for sedation.

      The cons:
       - The tests fail to detect some polyps and cancers.
       - Certain foods and medications might need to be avoided for several days before the test.
       - If blood is detected, additional tests might be needed to determine the source.
       - The tests can suggest an abnormality when none is present (false-positive result).
       - Not recommended if you have gene for a hereditary colon cancer syndrome or have a history of inflammatory bowel disease, such as ulcerative colitis or Crohn's disease or personal history of colonic polyps or family history of colon cancer 
    </md-block>
  </div>
</div>

{% include 'footer.html' %}
