{% include 'header.html' %}


<md-block>
# Which colon cancer screening method should I use?
Colon cancer is the third most common type of cancer and is the second leading cancerous cause of death. 
The government recommends that everyone over the age of 45 should get screened for colon cancer, though method of screening can vary.
There are 4 main ways to get screened for colon cancer.

</md-block>

<div class="container">
  <div class="column" style="margin-left:0;">
    <md-block>
    # 1. Fecal occult blood test

    Fecal occult blood test (FOBT) and fecal immunochemical test (FIT) are lab tests used to check stool samples for hidden (occult) blood. The tests usually are repeated annually.

The pros:
 - Stool sample collection can be done at home.
 - There's no need to empty the colon ahead of time.
 - There's no need for sedation.

The cons:
 - The tests fail to detect some polyps and cancers.
 - Certain foods and medications might need to be avoided for several days before the test.
 - If blood is detected, additional tests might be needed to determine the source.
 - The tests can suggest an abnormality when none is present (false-positive result).
 - Not recommended if you have gene for a hereditary colon cancer syndrome or have a history of inflammatory bowel disease, such as ulcerative colitis or Crohn's disease or personal history of colonic polyps or family history of colon cancer 

    </md-block>
  </div>

  <div class="column">
    <md-block>
    # 2. Stool DNA test
    The stool DNA test uses a sample of your stool to look for DNA changes in cells that might indicate the presence of colon cancer or precancerous conditions. The stool DNA test also looks for signs of blood in your stool.
For this test, you collect a stool sample at home and send it to a laboratory for testing. Stool DNA testing is typically repeated every three years.


The pros:
 - The test doesn't require bowel preparation, sedation or insertion of a scope.
 - You can eat and drink normally, and take your normal medications, before the test.
 - The stool can be collected at home, avoiding disruption of work and daily activities.
The cons:
 - The DNA stool test is less sensitive than colonoscopy at detecting precancerous polyps.
 - If abnormalities are found, additional tests might be needed.
 - The tests can suggest an abnormality when none is present (false-positive result).
 - Not recommended if you have gene for a hereditary colon cancer syndrome or have a history of inflammatory bowel disease, such as ulcerative colitis or Crohn's disease or personal history of colonic polyps or family history of colon cancer 

    </md-block>
  </div>

  <div class="column">
    <md-block>
    # 3. Colonoscopy
    During a colonoscopy exam, a long, flexible tube (colonoscope) is inserted into the rectum. A tiny video camera at the tip of the tube allows the doctor to detect changes or abnormalities inside the entire colon.
Colonoscopy takes about 30 to 60 minutes and screening is generally repeated every 10 years if no abnormalities are found and you don't have an increased risk of colon cancer.

The pros:
 - Colonoscopy is one of the most sensitive tests currently available for colon cancer screening.
 - The doctor can view your entire colon and rectum.
 - Abnormal tissue, such as polyps, and tissue samples (biopsies) can be removed through the scope during the exam.
The cons:
 - The exam might not detect all small polyps and cancers.
 - A thorough cleansing of the colon is required before the test.
 - Diet changes are needed before the test, and medications may need to be adjusted.
 - Sedation is almost always used, and it can take several hours to wear off.
 - Because of the sedation, you'll need someone to drive you home.
 - Rare complications may include bleeding from the site where a biopsy was taken or a polyp or other abnormal tissue was removed, or bleeding from a tear in the colon or rectum wall.

    </md-block>
  </div>

  <div class="column" style="margin-right:0;">
    <md-block>
    # 4. Virtual colonoscopy

    During a virtual colonoscopy, a CT scan produces cross-sectional images of the abdominal organs, allowing the doctor to detect changes or abnormalities in the colon and rectum. To help create clear images, a small tube (catheter) is placed inside your rectum to fill your colon with air or carbon dioxide.
Virtual colonoscopy takes about 10 minutes and is generally repeated every five years.

The pros:
 - Unlike traditional colonoscopy, virtual colonoscopy doesn't require sedation or the insertion of a scope into the colon.

The cons:
 - Like standard colonoscopy, a thorough cleansing of the bowel is required beforehand.
 - The exam might not detect all small polyps and cancers.
 - Diet changes are needed before the test, and medications may need to be adjusted.
 - Radiation exposure may be a concern. However, the level of radiation used during a screening CT scan is lower than the amount used in a diagnostic CT scan.
 - Since tissue samples can't be taken during the exam, a follow-up colonoscopy might be needed if an abnormality is detected.
 - The test may detect abnormalities in other abdominal organs and additional tests may be needed to determine the cause.

    </md-block>
  </div>
</div>
