<script type="module" src="https://md-block.verou.me/md-block.js"></script>


<md-block>
# Which colon cancer screening method should I use?
Colon cancer is the third most common type of cancer and is the second leading cancerous cause of death. 

The government recommends that everyone over the age of 45 should get screened for colon cancer, though method of screening can vary.

There are 3 main ways to get screened for colon cancer.

1. Fecal occult blood test
2. Stool DNA test
3. Colonoscopy
</md-block>
