{% include "header.html" %}

<div class="results-container">
  <div class="column results-content">
    <md-block>
      # Your screening option is: a Stool DNA Test
    </md-block>
    <md-block>
      The stool DNA test uses a sample of your stool to look for DNA changes in cells that might indicate the presence of colon cancer or precancerous conditions. The stool DNA test also looks for signs of blood in your stool.
      For this test, you collect a stool sample at home and send it to a laboratory for testing. Stool DNA testing is typically repeated every three years.

      The pros:
       - The test doesn't require bowel preparation, sedation or insertion of a scope.
       - You can eat and drink normally, and take your normal medications, before the test.
       - The stool can be collected at home, avoiding disruption of work and daily activities.
      The cons:
       - The DNA stool test is less sensitive than colonoscopy at detecting precancerous polyps.
       - If abnormalities are found, additional tests might be needed.
       - The tests can suggest an abnormality when none is present (false-positive result).
       - Not recommended if you have gene for a hereditary colon cancer syndrome or have a history of inflammatory bowel disease, such as ulcerative colitis or Crohn's disease or personal history of colonic polyps or family history of colon cancer 
    </md-block>
  </div>
</div>

{% include 'footer.html' %}
