{% include "header.html" %}


<div class="results-container">
  <div class="column results-content">
    <md-block>
      # Your screening option is: a Virtual Colonoscopy
    </md-block>
    <md-block>
      During a virtual colonoscopy, a CT scan produces cross-sectional images of the abdominal organs, allowing the doctor to detect changes or abnormalities in the colon and rectum. To help create clear images, a small tube (catheter) is placed inside your rectum to fill your colon with air or carbon dioxide.
      Virtual colonoscopy takes about 10 minutes and is generally repeated every five years.

      <strong>The pros:</strong>
       - Unlike traditional colonoscopy, virtual colonoscopy doesn't require sedation or the insertion of a scope into the colon.

      <strong>The cons:</strong>
       - Like standard colonoscopy, a thorough cleansing of the bowel is required beforehand.
       - The exam might not detect all small polyps and cancers.
       - Diet changes are needed before the test, and medications may need to be adjusted.
       - Radiation exposure may be a concern. However, the level of radiation used during a screening CT scan is lower than the amount used in a diagnostic CT scan.
       - Since tissue samples can't be taken during the exam, a follow-up colonoscopy might be needed if an abnormality is detected.
       - The test may detect abnormalities in other abdominal organs and additional tests may be needed to determine the cause.
    </md-block>
  </div>
</div>

{% include 'footer.html' %}
